.app_wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container_wrapper {
  flex: 1 0 auto;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
}

.container_body {
  flex: 1 0 auto;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;

  padding: 0.5em;
}
